@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>机床参数设置</title>
</head>
<body>
    <!-- 工具条 starts -->
    @RenderPage("../mainForm/top.cshtml")
    <!-- 工具条 ends -->
    <div class="ch-container">
        <div class="row">
            <!-- 左菜单 starts -->
            @RenderPage("../mainForm/left.cshtml")
            <!-- 左菜单 ends -->
            <!-- 内容页 starts-->
            <div id="content" class="col-lg-10 col-sm-10">
                <div>
                    <ul class="mybreadcrumb">
                        <li><a href="#">机床管理</a></li>
                        <li><a href="/Machine/machineSet">机床参数设置</a></li>
                    </ul>
                </div>
                <!-- 工艺、机床列表 starts-->
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2 class="h-blue">
                                    <i class="glyphicon glyphicon-paperclip"></i>机床名片</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up">
                                    </i></a>
                                </div>
                            </div>
                            <div class="box-content" style="height: 476px; display: block">
                                <div class="box-content">
                                    <div class="img" style="float: right">
                                        <img alt="机床" src="@ViewBag.picPath">
                                    </div>
                                    <div class="resume-content">
                                        <div class="col">
                                            <div class="title display-table">
                                                <p>
                                                    机床名称
                                                </p>
                                                <span class="pull-right">@ViewBag.machName</span>
                                            </div>
                                            @foreach (var machine in ViewBag.list1)
                                            {
                                                <div class="title display-table">
                                                    <p>@machine.machPara
                                                    </p>
                                                    <span class="pull-right">@machine.machParaValue</span>
                                                </div>
                                            }
                                        </div>
                                        <div class="col">
                                            @foreach (var machine in ViewBag.list2)
                                            {
                                                <div class="title display-table">
                                                    <p>@machine.machPara
                                                    </p>
                                                    <span class="pull-right">@machine.machParaValue</span>
                                                </div>
                                            }
                                        </div>
                                        @*<div class="col">
                                            <div class="title display-table">
                                                <p>
                                                    机床名称</p>
                                                <span class="pull-right">数控铲磨床</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    工作台行程</p>
                                                <span class="pull-right">500mm</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    砂轮架行程</p>
                                                <span class="pull-right">200mm</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    修整轴左右行程</p>
                                                <span class="pull-right">60mm</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    修整轴前后行程</p>
                                                <span class="pull-right">100mm</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    螺纹升角</p>
                                                <span class="pull-right">±15°</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    伺服电机-砂轮</p>
                                                <span class="pull-right">2.2kw，最高转速8000rpm/min</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    被加工工件尺寸</p>
                                                <span class="pull-right">最大外径∅200mm，最大长度500mm</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    两顶间最大距离</p>
                                                <span class="pull-right">600mm</span>
                                            </div>
                                        </div>
                                        <div  class="col">
                                            <div class="title display-table">
                                                <p>
                                                    被加工工件模数</p>
                                                <span class="pull-right">m1~m6</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    被加工工件精度</p>
                                                <span class="pull-right">GB/T6084-2001AA级</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    铲磨槽数</p>
                                                <span class="pull-right">客户自定</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    铲磨量</p>
                                                <span class="pull-right">0.01mm-10mm</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    最快移动速度</p>
                                                <span class="pull-right">10000mm/min</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    电源</p>
                                                <span class="pull-right">3AC380V</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    机床外形尺寸（长×宽×高）</p>
                                                <span class="pull-right">2200×1700×2000</span>
                                            </div>
                                            <div class="title display-table">
                                                <p>
                                                    机床重量</p>
                                                <span class="pull-right">约5T</span>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 工艺、机床列表 ends-->
            </div>
        </div>
        <!-- 内容页 ends -->
        <!-- 模态框 starts -->
        @RenderPage("../mainForm/modal.cshtml")
        <!-- 模态框 ends -->
    </div>
    <hr>
</body>
</html>
